In [1]:
import pandas as pd
import numpy as np
pd.set_option("display.max_columns", None)

## Libraries import

In [2]:
df=pd.read_excel(r'C:\Users\alexd\Business_Case_ADA\Data\Customer_orders_orig.xlsx')

df.head()

## Data import

,PRODUCT ID,EXTERNAL ID,NAME,COLLECTION GROUP,COLLECTION NAME,COLLECTION SECTION,PRODUCT PRICE,QUANTITY,ORDER ID,CREATION LOCAL TIME
0,15301699.0,4687.0,RON CACIQUE AÑEJO 70CL 37.5º,Bebidas,Alcohol y Licores,"Top Ventas,Ron",11.89,1.0,23899437.0,2018-12-28 02:17:44
1,18092599.0,3474.0,BARRITA CHOCO KRISPIES 6U,"Desayunos, Panadería y Dulces",Cereales,Barrita,2.39,1.0,23892594.0,2018-12-28 01:01:09
2,15301814.0,2028.0,DONUTS GLACE 2U,"Desayunos, Panadería y Dulces",Pastelería y Bollería,Bollería,1.29,2.0,23901162.0,2018-12-28 02:40:11
3,18092599.0,3474.0,BARRITA CHOCO KRISPIES 6U,"Desayunos, Panadería y Dulces",Cereales,Barrita,2.39,1.0,23907173.0,2018-12-28 06:00:56
4,18092614.0,3496.0,CEREAL CORN FLAKES 500G,"Desayunos, Panadería y Dulces",Cereales,Para Desayunar,1.99,1.0,23900413.0,2018-12-28 02:29:43

In [3]:
df.info()

## Data info for Step 1: identify null values and data types.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67406 entries, 0 to 67405
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   PRODUCT ID           67360 non-null  float64
 1   EXTERNAL ID          67360 non-null  float64
 2   NAME                 67360 non-null  object
 3   COLLECTION GROUP     67345 non-null  object
 4   COLLECTION NAME      67360 non-null  object
 5   COLLECTION SECTION   67360 non-null  object
 6   PRODUCT PRICE        67360 non-null  float64
 7   QUANTITY             67360 non-null  float64
 8   ORDER ID             67360 non-null  float64
 9   CREATION LOCAL TIME  67406 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(5), object(4)
memory usage: 5.1+ MB

### Step 1: Null values + Data types per column

In [4]:
nan_cols=df.isnull().sum()
nan_cols[nan_cols>0]

PRODUCT ID            46
EXTERNAL ID           46
NAME                  46
COLLECTION GROUP      61
COLLECTION NAME       46
COLLECTION SECTION    46
PRODUCT PRICE         46
QUANTITY              46
ORDER ID              46
dtype: int64

In [5]:
qty_of_nuls = 8
df.iloc[df[(df.isnull().sum(axis=1)>qty_of_nuls)].index]

,PRODUCT ID,EXTERNAL ID,NAME,COLLECTION GROUP,COLLECTION NAME,COLLECTION SECTION,PRODUCT PRICE,QUANTITY,ORDER ID,CREATION LOCAL TIME
65,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-28 11:59:09
68,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-28 10:54:12
71,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-28 10:05:31
74,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-28 10:50:22
77,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-28 09:36:57
80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-28 09:35:44
83,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-28 13:38:11
86,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-28 14:24:06
89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-28 09:51:03
92,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-28 10:27:40
95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-28 11:09:27
98,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-28 13:45:00
101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-28 10:29:33
104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-28 09:04:54
107,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-28 12:15:29
110,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-28 11:36:49
113,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-28 07:38:03
116,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-28 09:24:03
119,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-28 11:41:48
122,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-28 10:02:00
125,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-28 14:08:58
128,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-28 12:17:33
131,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-28 11:30:59
134,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-28 12:41:48
137,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-28 09:03:54
139,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-28 11:48:45
141,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-28 14:53:26
143,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-28 14:12:06
145,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-28 09:29:36
147,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-28 13:20:01
149,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-28 14:08:36
151,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-28 06:46:46
153,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-28 11:33:28
155,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-28 11:47:45
157,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-28 11:21:37
159,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-28 12:58:09
161,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-28 07:33:03
163,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-28 10:53:29
165,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-28 08:00:56
167,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-28 10:05:08
169,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-28 12:00:16
171,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-28 09:55:02
173,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-28 10:43:30
175,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-28 14:07:07
177,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-28 11:04:55
179,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-28 14:12:52

In [6]:
df = df.drop(df[df.isnull().sum(axis=1) > 8].index)

## Drop of rows with Null values.

In [7]:
df.columns =['product_id', 'external_id', 'name', 'collection_group', 'collection_name', 'collection_section', 'product_price', 'quantity', 'order_id', 'date']

## Columns names are changed in order to call them easily.

In [8]:
df.fillna({'collection_group': 'Sin clasificar'}, inplace=True)

## Still null values, but relevant information in other columns. So let's treat the collection group as "sin clasificar"

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 67360 entries, 0 to 67405
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   product_id          67360 non-null  float64
 1   external_id         67360 non-null  float64
 2   name                67360 non-null  object
 3   collection_group    67360 non-null  object
 4   collection_name     67360 non-null  object
 5   collection_section  67360 non-null  object
 6   product_price       67360 non-null  float64
 7   quantity            67360 non-null  float64
 8   order_id            67360 non-null  float64
 9   date                67360 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(5), object(4)
memory usage: 5.7+ MB

In [10]:
df['product_id'] = df['product_id'].astype('int')
df['external_id'] = df['external_id'].astype('int')
df['quantity'] = df['quantity'].astype('int')
df['order_id'] = df['order_id'].astype('int')

In [11]:
df.collection_group.unique()

array(['Bebidas', 'Desayunos, Panadería y Dulces', 'Alimentación General',
       'Lácteos y Quesos', 'Frescos, Charcutería y Huevos',
       'Higiene, Belleza y Bebés', 'Pizzas y Congelados,Navidad',
       'Desayunos, Panadería y Dulces,Navidad', 'Pizzas y Congelados',
       'Bebidas,Hogar y limpieza', 'Bebidas,Pizzas y Congelados',
       'Bebidas,Navidad', 'Navidad,Pizzas y Congelados',
       'Frescos, Charcutería y Huevos,Navidad', 'Hogar y limpieza',
       'Navidad', 'Alimentación General,Navidad',
       'Higiene, Belleza y Bebés,Navidad',
       'Navidad,Frescos, Charcutería y Huevos', 'Sin clasificar'],
      dtype=object)

In [26]:
campaña_navidad = {'General,Navidad','Bebidas,Navidad','Dulces,Navidad','Huevos,Navidad','Bebés,Navidad','Congelados,Navidad','Navidad','Navidad,Frescos,','Navidad,Pizzas'}

df['navidad'] = df['collection_group'].apply(lambda x: sum(i in campaña_navidad for i in x.split()))

## Column creation for "Navidad" products

In [ ]:
df.collection_group.replace(['General,Navidad','Bebidas,Navidad','Dulces,Navidad','Huevos,Navidad','Bebés,Navidad','Congelados,Navidad','Navidad','Navidad,Frescos,','Navidad,Pizzas'],['General','Bebidas','Dulces','Huevos','Bebés','Congelados','Navidad','Frescos,','Navidad,Pizzas'],regex=True,inplace=True)

In [ ]:
df.collection_name.unique()

In [ ]:
df.collection_section.unique()

In [ ]:
df['year'] = pd.DatetimeIndex(df['date']).year
df['month'] = pd.DatetimeIndex(df['date']).month
df['day'] = pd.DatetimeIndex(df['date']).day
df['time'] = pd.DatetimeIndex(df['date']).time

## Time split per ywar, month, day and time.